<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.lsanotes.shared">
    <application>
        <service
            android:name=".SharedService"
            android:exported="true"
            android:process="net.lsanotes.shared.sharedservice" />
    </application>

</manifest>